#container {
    height: 97vh;
    width: 97vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#transitioning {
    height: 20rem;
    width: 20rem;
    background-color: greenyellow;
    transition: background-color 5s ease-out 0.1s;
}

#transitioning:hover {
    background-color: whitesmoke;
}